<%= form_for @user, :validate => true, :html => { :id => 'validates'} do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <div class="panel panel-default col-md-7">
        <br> <div class="field">
        <div class="col-md-6">
          <label for="ejemplo_email_3" class="control-label">Correo: </label>
          <%= @user.email %>
        </div>

        <div class="col-md-6">
          <label for="ejemplo_email_3" class="control-label">Rol<font color=#D00>*</font></label>
          <%=f.collection_select(:role_id, Role.all.order(name: :asc),
                                 :id, :name)%>
        </div>

      </div>
      </div>
    </div>
    <div class="field">
      <%= f.button(type: "submit", class: "btn btn-primary btn-circle btn-lg") do %>
          <i class="fa fa-save"></i>
      <% end %>
      <%= link_to '<i class="fa fa-reply"></i>'.html_safe, users_path, class: 'btn btn-success btn-circle btn-lg' %>
    </div>

<% end %>

<script>
    $('#validates').validetta({
        realTime : true
    });
</script>