<div class="row">
  <br>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Usuarios
      </div>
      <div class="panel-body">
        <table id="categoria" class="display" cellpadding="0" cellspacing="0" border="0" class="table table-condensed">
          <thead>
          <tr>
            <th>Correo</th>
            <th>Rol</th>
            <th>Acciones</th>
          </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
              <tr>
                <td><%= user.email%></td>

                <td><%= user.role.name %></td>
                <td><%= link_to '<i class="fa fa-eye"></i>'.html_safe, user, class: 'btn btn-success btn-circle'%>
                  <% if can? :update, user %>
                      <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_user_path(user), class: 'btn btn-warning btn-circle'%></td>
                  <% end %>
                  </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<head><script>
    $('#categoria').DataTable({
        "language": {
            "sProcessing":    "Procesando...",
            "sLengthMenu":    "Mostrar _MENU_ registros",
            "sZeroRecords":   "No se encontraron resultados",
            "sEmptyTable":    "Ningún dato disponible en esta tabla",
            "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix":   "",
            "sSearch":        "Buscar:",
            "sUrl":           "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst":    "Primero",
                "sLast":    "Último",
                "sNext":    "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }
    });
</script></head>