
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Usuarios</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this User from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <form class="form-horizontal" role="form">
      <div class="panel panel-default col-md-12">
        <br> <div class="form-group">
        <div class="col-md-4">
          <label for="ejemplo_email_3" class="control-label">Correo: </label>
          <%= @user.email %>
        </div>

        <div class="col-md-6">
          <label for="ejemplo_email_3" class="control-label">Rol: </label>
          <%= @user.role.name %>
        </div>

      </div>
        <br>
      </div>
      <div class="form-group">
        <br><br><br><br>
        <% if can? :update, @user %>
            <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_user_path(@user), class: 'btn btn-warning btn-circle btn-lg'%>
        <% end %>
        <%= link_to '<i class="fa fa-reply"></i>'.html_safe, users_path, class: 'btn btn-success btn-circle btn-lg' %>
      </div>
<% end %>
<%= render 'users' %>
</form>