
<%= form_for @periodo_de_pago, :validate => true do |f| %>
    <% if @periodo_de_pago.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@periodo_de_pago.errors.count, "error") %> prohibited this categoria from being saved:</h2>

          <ul>
            <% @periodo_de_pago.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row">
      <div class="panel panel-default col-md-12">
        <br> <div class="field">
        <div class="col-md-4">
          <label for="ejemplo_email_3" class="control-label">Mes<font color=#D00>*</font></label>
          <% @meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo',
                  'junio', 'julio', 'agosto', 'septiembre',
                  'octubre', 'noviembre', 'diciembre'] %>
          <%= f.select(:mes, options_for_select([['enero'], ['febrero'], ['marzo'], ['abril'], ['mayo'],
                                                 ['junio'], ['julio'], ['agosto'], ['septiembre'],
                                                 ['octubre'], ['noviembre'], ['diciembre']], selected = @meses[Date.today.month - 1])) %>

        </div>
        <div class="col-md-6">
          <label for="ejemplo_email_3" class="control-label">Año<font color=#D00>*</font></label>
          <%= f.select(:anho, 1.month.ago.year.. 2.years.from_now.year) %>
        </div>
      </div>
        <br>
      </div>
    </div>
    <div class="field">
      <% if !@periodo_de_pago.id.nil?%>
          <%= f.button(type: "submit", class: "btn btn-primary btn-circle btn-lg") do %>
              <i class="fa fa-save"></i>
          <% end %>
          <%= link_to '<i class="fa fa-reply"></i>'.html_safe, periodos_de_pago_path, class: 'btn btn-success btn-circle btn-lg' %>
      <% else %>
          <%= f.button(type: "submit", class: "btn btn-primary btn-circle btn-lg") do %>
              <i class="fa fa-save"></i>
          <% end %>
          <%= link_to '<i class="fa fa-reply"></i>'.html_safe, root_path, class: 'btn btn-success btn-circle btn-lg' %>
      <% end %>
    </div>
<% end %>