<% if can? :create, @periodo_de_pago %>
    <h1 class="page-header"></h1>
<% else %>
    <br>
<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Periodos de Pago
      </div>
      <div class="panel-body">
        <div id="datatable">
          <table id="periodo_de_pago" class="display" cellpadding="0" cellspacing="0" border="0" class="table table-condensed">
            <thead>
            <tr>
              <th>Mes</th>
              <th>Año</th>
              <th>Finalizado</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <% @periodos_de_pago.each do |periodo| %>
                <tr>
                  <td><%= periodo.mes %></td>
                  <td><%= periodo.anho %></td>
                  <td><%= periodo.finalizado ? 'Si' : 'No' %></td>
                  <td><%= link_to '<i class="fa fa-eye"></i>'.html_safe, periodo, class: 'btn btn-success btn-circle'%>

                    <!--<%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_periodo_de_pago_path(periodo), class: 'btn btn-warning btn-circle'%>-->
                    <% if can? :destroy, @periodo_de_pago %>
                        <% if periodo.finalizado? %>
                            <%= link_to '<i class="fa fa-eraser"></i>'.html_safe, periodo, method: :delete, data: { confirm: 'Está seguro?' }, class: 'btn btn-danger btn-circle disabled' %></td>
                        <% else %>
                            <%= link_to '<i class="fa fa-eraser"></i>'.html_safe, periodo, method: :delete, data: { confirm: 'Está seguro?' }, class: 'btn btn-danger btn-circle' %></td>
                        <% end %>
                    <% end %>
                </tr>
            <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>

<head><script>
    $('#periodo_de_pago').DataTable({
        "language": {
            "sProcessing":    "Procesando...",
            "sLengthMenu":    "Mostrar _MENU_ registros",
            "sZeroRecords":   "No se encontraron resultados",
            "sEmptyTable":    "Ningún dato disponible en esta tabla",
            "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix":   "",
            "sSearch":        "Buscar:",
            "sUrl":           "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst":    "Primero",
                "sLast":    "Último",
                "sNext":    "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }
    });
</script></head>