<!--<p id="notice"><%= notice %></p>-->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Editar Periodo de Pago</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>


<%= render 'form' %>

<%= render 'periodo_de_pago' %>
