<!--<p id="notice"><%= notice %></p>-->
<% if can? :create, @periodo_de_pago %>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Nuevo Periodo de Pago</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>


<%= render 'form' %>
<% end %>
<%= render 'periodo_de_pago' %>
