
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Periodo de Pago</h1>
  </div>
</div>
    <div class="row">
      <div class="panel panel-default col-md-12">
        <br> <div class="form-group">
        <div class="col-md-4">
          <label for="ejemplo_email_3" class="control-label">Mes: </label>
          <%= @periodo_de_pago.mes%>
        </div>

        <div class="col-md-4">
          <label for="ejemplo_email_3" class="control-label">Año: </label>
          <%= @periodo_de_pago.anho%>
        </div>
        <div class="col-md-4">
          <label for="ejemplo_email_3" class="control-label">Finalizado: </label>
          <%= @periodo_de_pago.finalizado ? 'Si' : 'No'%>
        </div>
      </div>
        <br>
      </div>
      </div>
      <div class="form-group">
        <!--<%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_periodo_de_pago_path(@periodo_de_pago), class: 'btn btn-warning btn-circle btn-lg'%>-->
        <% if !@periodo_de_pago.finalizado? %>
            <% if can? :create, Liquidacion %>
                <%= link_to "Liquidar Todos", {:controller => "periodos_de_pago", :action => "liquidar", :id => @periodo_de_pago.id }, class: 'btn btn-primary'%>
            <% end %>
            <% if can? :read, Liquidacion %>
                <%= link_to "Generar Recibos", {:controller => "periodos_de_pago", :action => "generar_recibos", :id => @periodo_de_pago.id }, class: 'btn btn-success' %>
            <% end %>
            <% if can? :update, @periodo_de_pago %>
                <%= link_to "Finalizar Periodo", {:controller => "periodos_de_pago", :action => "finalizar", :id => @periodo_de_pago.id }, class: 'btn btn-warning', data: { confirm: 'Está seguro?' }%>
            <% end %>
        <% else %>
            <% if can? :read, Liquidacion %>
                <%= link_to "Generar Recibos", {:controller => "periodos_de_pago", :action => "generar_recibos", :id => @periodo_de_pago.id }, class: 'btn btn-success' %>
                <%= link_to "Generar Informe", {:controller => "periodos_de_pago", :action => "download", :id => @periodo_de_pago.id }, class: 'btn btn-primary'%>
            <% end %>
        <% end %>
        <%= link_to '<i class="fa fa-reply"></i>'.html_safe, periodos_de_pago_path, class: 'btn btn-success btn-circle btn-lg' %>
      </div>
<%= render 'periodo_de_pago' %>