<%= form_for(@salario_basico_historico, :validate => true) do |f| %>
  <% if @salario_basico_historico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@salario_basico_historico.errors.count, "error") %> prohibited this salario_basico_historico from being saved:</h2>

      <ul>
      <% @salario_basico_historico.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <form class="form-horizontal" role="form">

      <br>  <div class="form-group">
      <label for="ejemplo_email_3" class="col-md-2 control-label">Categoría ID</label>
      <div class="col-md-10">
    <%= f.number_field :categoria_id %>
      </div>
  </div>
      <br>  <div class="form-group">
      <label for="ejemplo_email_3" class="col-md-2 control-label">Monto</label>
      <div class="col-md-10">
    <%= f.text_field :monto %>
      </div>
  </div>
      <br>  <div class="form-group">
      <label for="ejemplo_email_3" class="col-md-2 control-label">Fecha</label>
      <div class="col-md-10">
    <%= f.date_select :fecha %>
      </div>
  </div>
      <br>  <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <% if !@salario_basico_historico.id.nil?%>
            <%= f.button(type: "submit", class: "btn btn-success btn-circle btn-lg") do %>
                <i class="fa fa-check"></i>
            <% end %>
            <%= link_to '<i class="fa fa-times"></i>'.html_safe, salarios_basicos_historico_path, class: 'btn btn-danger btn-circle btn-lg' %>
        <% else %>
            <%= f.button(type: "submit", class: "btn btn-primary btn-circle btn-lg") do %>
                <i class="fa fa-save"></i>
            <% end %>
        <% end %>
    </div>
  </div>
<% end %>
</form>