<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel panel-default">
        <div class="panel-heading">
            Salarios básicos histórico
        </div>
      </div>
      <div class="panel-body">
        <%= form_tag salarios_basicos_historico_path, :method => 'get', :id => "salarios_basicos_historico_search" do %>
            <%= label_tag "Mostrar: " %>

            <%= select_tag :per_page, options_for_select([2,4,8,12], params[:per_page].to_i),
                           :onchange => "if(this.value){window.location='?per_page='+this.value;}" %>

            <span class="pull-right">
              <%= text_field_tag :search, params[:search] %>
              <%= submit_tag "Buscar", :salario_basico_historico_id => nil %>
            </span>
            <br>
            <div id="salarios_basicos_historico">

              <table class="table table-striped table-bordered">
                <thead>
                <tr>
                  <th><%= sortable "categoria_id","Categoria" %></th>
                  <th><%= sortable "monto","Monto" %></th>
                  <th><%= sortable "fecha","Fecha" %></th>
                </tr>
                </thead>
                <tbody>
                <% @salarios_basicos_historico.each do |salario_basico_historico| %>
                    <tr>
                      <% @categoria = Categoria.find(salario_basico_historico.categoria_id) %>
                      <td><%= @categoria.nombre %></td>
                      <td><%= salario_basico_historico.monto %></td>
                      <td><%= salario_basico_historico.fecha %></td>

                      <!--<td><%= link_to '<i class="fa fa-eye"></i>'.html_safe, salario_basico_historico, class: 'btn btn-success btn-circle'%></td>
        <td><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_salario_basico_historico_path(salario_basico_historico), class: 'btn btn-warning btn-circle'%></td>
        <td><%= link_to '<i class="fa fa-eraser"></i>'.html_safe, salario_basico_historico, method: :delete, data: { confirm: 'Estas seguro?' }, class: 'btn btn-danger btn-circle' %></td>-->

                    </tr>
                <% end %>
                </tbody>
              </table>
              <div class="digg_pagination">
                <div class="page_info">
                  <%= page_entries_info @salarios_basicos_historico %>
                </div>
                <%= will_paginate @salarios_basicos_historico,renderer: BootstrapPagination::Rails, bootstrap: 3 %>
              </div>

            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


