<p id="notice"><%= notice %></p>

<p>
  <strong>Categoria:</strong>
  <%= @salario_basico_historico.categoria_id %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @salario_basico_historico.monto %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @salario_basico_historico.fecha %>
</p>

<%= link_to 'Edit', edit_salario_basico_historico_path(@salario_basico_historico) %> |
<%= link_to 'Back', salarios_basicos_historico_path %>
