<%= form_for(@empresa) do |f| %>

  <div class="form-inputs">
    <div class="form-group">
      <%= f.text_field :nombre, 'data-validetta'=>'required', class: "form-control input-lg", placeholder: "Nombre de la empresa" ,:maxlength => 20, required: true%>
    </div>
    <div class="form-group">
      <%= f.text_field :direccion, 'data-validetta'=>'required', class: "form-control input-lg", placeholder: "Direccion" ,:maxlength => 50, required: true%>
    </div>
    <div class="form-group">
      <%= f.text_field :correo, 'data-validetta'=>'required', class: "form-control input-lg", placeholder: "Correo electrónico" ,:maxlength => 30, required: true, type: 'email'%>
    </div>
    <div class="form-group">
      <%= f.text_field :telefono, 'data-validetta'=>'required', class: "form-control input-lg", placeholder: "Numero de teléfono" ,:maxlength => 15, required: true%>
    </div>
    <!--   <div class="form-group">
      <%= f.text_field :remote_image_url, 'data-validetta'=>'required', class: "form-control input-lg", placeholder: "Coloque aqui la direccion de una imagen" ,:maxlength => 150%>
    </div>-->
  </div>
    <p>
      <%= f.file_field :image%>
    </p>
    <br>
    <div class="field">

      <% if !@empresa.id.nil?%>
          <%= f.button(type: "submit", class: "btn btn-primary btn-circle btn-lg") do %>
              <i class="fa fa-save"></i>
          <% end %>
          <%= link_to '<i class="fa fa-reply"></i>'.html_safe, root_path, class: 'btn btn-success btn-circle btn-lg' %>
      <% else %>
          <%= f.button(type: "submit", class: "btn btn-primary btn-circle btn-lg") do %>
              <i class="fa fa-save"></i>
          <% end %>
      <% end %>

    </div>
<% end %>

<script>
    $('#validates').validetta({
        realTime : true
    });
</script>
