<div class="col-lg-12">
  <h1 class="page-header">Datos de la empresa</h1>
</div>
<p>
  <strong>Nombre:</strong>
  <%= @empresa.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @empresa.direccion %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @empresa.correo %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @empresa.telefono %>
</p>

<p>
  <strong>Logo de la empresa:</strong>
  <br>
  <%= image_tag @empresa.image.to_s %>
</p>

<p>
  <!--<strong>Remote image url:</strong>
  <%= @empresa.remote_image_url %> -->
</p>

<br>
<% if can? :update, @empresa %>
    <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_empresa_path(@empresa), class: 'btn btn-warning btn-circle btn-lg'%>
<% end %>
    <%= link_to '<i class="fa fa-reply"></i>'.html_safe, root_path, class: 'btn btn-success btn-circle btn-lg' %>
</div>
