
  <%= form_for @categoria, :validate => true, :html => { :id => 'validates' } do |f| %>
      <% if @categoria.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@categoria.errors.count, "error") %> prohibited this categoria from being saved:</h2>

            <ul>
              <% @categoria.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="row">
        <div class="panel panel-default col-md-12">
          <br> <div class="field">
          <div class="col-md-4">
            <label for="ejemplo_email_3" class="control-label">Nombre<font color=#D00>*</font></label>
            <%= f.text_field :nombre,'data-validetta'=>'required', :maxlength => 20%>
          </div>

          <div class="col-md-6">
            <label for="ejemplo_email_3" class="control-label">Salario Básico<font color=#D00>*</font></label>
            <%= f.number_field :salario_basico, 'data-validetta'=>"callback[sum],maxLength[9]"%>
          </div>

        </div>
          <br><br>
        </div>
      </div>
      <div class="field">

        <% if !@categoria.id.nil?%>
            <%= f.button(type: "submit", class: "btn btn-primary btn-circle btn-lg") do %>
                <i class="fa fa-save"></i>
            <% end %>
            <%= link_to '<i class="fa fa-reply"></i>'.html_safe, categorias_path, class: 'btn btn-success btn-circle btn-lg' %>
        <% else %>
            <%= f.button(type: "submit", class: "btn btn-primary btn-circle btn-lg") do %>
                <i class="fa fa-save"></i>
            <% end %>
            <%= link_to '<i class="fa fa-reply"></i>'.html_safe, root_path, class: 'btn btn-success btn-circle btn-lg' %>
        <% end %>

      </div>

  <% end %>

<script>
    $('#validates').validetta({
        validators: {
            callback: {
                sum: {
                    callback:  function( el, value ) {
                        if ( value > 1000000 ){
                            return true
                        }
                        return false
                    },
                    errorMessage: "Debe ser mayor que 1000000"
                }
            }
        },
        realTime : true
    });
</script>