
<div id="product-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= title %></h4>
      </div>
      <%= form_for @categoria, :html => { :id => 'validates2', :remote => true} do |f| %>
          <div class="modal-body">
            <div class="alert alert-danger" role="alert" style="display: none;"></div>
            <div class="form-group">
              <%= f.text_field :nombre, 'data-validetta'=>'required', class: "form-control input-lg", placeholder: "Nombre de la categoría" ,:maxlength => 20, required: true%>
            </div>
          </div>

          <div class="modal-body">
            <div class="alert alert-danger" role="alert" style="display: none;"></div>
            <div class="form-group">
              <%= f.number_field :salario_basico, 'data-validetta'=>'required', class: "form-control input-lg", placeholder: "Salario básico", required: true%>
            </div>
          </div>

          <div class="modal-footer">
            <%= f.submit "Crear", class: "btn btn-primary btn-lg btn-block" %>
          </div>
      <%end%>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    $('#validates2').validetta({
        validators: {
            callback: {
                sum: {
                    callback:  function( el, value ) {
                        if ( value > 1000000 ){
                            return true
                        }
                        return false
                    },
                    errorMessage: "Debe ser mayor que 1000000"
                }
            }
        },
        realTime : true,
        bubblePosition: 'bottom'
    });
</script>