<% if @categoria.errors.empty? %>
// add the row to the table, show alert and hide modal
$('.alert-success').html("La categoría ha sido creado con éxito").show();
$('#product-modal').modal('hide');
$('#categoriaSelect').html("<%= escape_javascript options_from_collection_for_select(Categoria.all.order('created_at DESC'), :id, :nombre) %>");

<% else %>
// show first error
alert('<%= @categoria.errors.full_messages[0] %>');
<% end %>