<!--<p id="notice"><%= notice %></p>-->
<% if can? :create, @liquidacion %>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Nueva Categoría</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>


  <%= render 'form' %>
    <% end %>
  <%= render 'categorias' %>