<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Categoría</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<%= form_for(@categoria) do |f| %>
    <% if @categoria.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@categoria.errors.count, "error") %> prohibited this categoria from being saved:</h2>

          <ul>
            <% @categoria.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <form class="form-horizontal" role="form">
      <div class="panel panel-default col-md-12">
        <br> <div class="form-group">
        <div class="col-md-4">
          <label for="ejemplo_email_3" class="control-label">Nombre: </label>
          <%= @categoria.nombre %>
        </div>

        <div class="col-md-6">
          <label for="ejemplo_email_3" class="control-label">Salario Básico: </label>
          <%= number_to_currency(@categoria.salario_basico, precision: 0, unit: "G.")%>
        </div>

      </div>
        <br>
      </div>
      <div class="form-group">
        <br><br><br><br>
        <% if can? :update, @categoria %>
            <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_categoria_path(@categoria), class: 'btn btn-warning btn-circle btn-lg'%>
        <% end %>
        <%= link_to '<i class="fa fa-reply"></i>'.html_safe, categorias_path, class: 'btn btn-success btn-circle btn-lg' %>
      </div>
<% end %>
</form>
<%= render 'categorias' %>

