<%= simple_form_for(@novedad_transitoria) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :liquidacion_id %>
    <%= f.input :concepto_id_integer %>
    <%= f.input :cantidad %>
    <%= f.input :suma %>
    <%= f.input :descuento %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
