<h1>Listing novedades_transitorias</h1>

<table>
  <thead>
    <tr>
      <th>Liquidacion</th>
      <th>Concepto id integer</th>
      <th>Cantidad</th>
      <th>Suma</th>
      <th>Descuento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @novedades_transitorias.each do |novedad_transitoria| %>
      <tr>
        <td><%= novedad_transitoria.liquidacion_id %></td>
        <td><%= novedad_transitoria.concepto_id_integer %></td>
        <td><%= novedad_transitoria.cantidad %></td>
        <td><%= novedad_transitoria.suma %></td>
        <td><%= novedad_transitoria.descuento %></td>
        <td><%= link_to 'Show', novedad_transitoria %></td>
        <td><%= link_to 'Edit', edit_novedad_transitoria_path(novedad_transitoria) %></td>
        <td><%= link_to 'Destroy', novedad_transitoria, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Novedad transitoria', new_novedad_transitoria_path %>
