<p id="notice"><%= notice %></p>

<p>
  <strong>Liquidacion:</strong>
  <%= @novedad_transitoria.liquidacion_id %>
</p>

<p>
  <strong>Concepto id integer:</strong>
  <%= @novedad_transitoria.concepto_id_integer %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @novedad_transitoria.cantidad %>
</p>

<p>
  <strong>Suma:</strong>
  <%= @novedad_transitoria.suma %>
</p>

<p>
  <strong>Descuento:</strong>
  <%= @novedad_transitoria.descuento %>
</p>

<%= link_to 'Edit', edit_novedad_transitoria_path(@novedad_transitoria) %> |
<%= link_to 'Back', novedades_transitorias_path %>
