<div id="product-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= title %></h4>
      </div>
      <%= form_for @nacionalidad, remote: true do |f| %>
          <div class="modal-body">
            <div class="alert alert-danger" role="alert" style="display: none;"></div>
            <div class="form-group">
              <%= f.text_field :nombre, class: "form-control input-lg", placeholder: "Nombre de la nacionalidad", :maxlength => 20, required: true %>
            </div>
          </div>


          <div class="modal-footer">
            <%= f.submit "Crear", class: "btn btn-primary btn-lg btn-block" %>
          </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->