<% if @nacionalidadd.errors.empty? %>
// add the row to the table, show alert and hide modal
$('.alert-success').html("La nacionalidad ha sido creado con éxito").show();
$('#product-modal').modal('hide');
$('#nacionalidadSelect').html("<%= escape_javascript options_from_collection_for_select(Nacionalidad.all.order('created_at DESC'), :id, :nombre) %>");

<% else %>
// show first error
alert('<%= @nacionalidadd.errors.full_messages[0] %>');
<% end %>