<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h1>Nacionalidades</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 text-right">
      <%= link_to "Nuevo Producto", new_nacionalidad_path, remote: true, class: "btn btn-primary" %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <table class="table">
        <thead>
        <tr>
          <th>Nombre</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @nacionalidades.each do |nacionalidad| %>
            <%= render "row", nacionalidad: nacionalidad %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>