  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Inicio</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <% @permisos = current_user.permisos_array %>

    <% if @permisos.include?("Categoria") or @permisos.include?("all") %>
        <div class="col-lg-4 col-md-8 col-md-offset-1">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-sitemap fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge"><%= Categoria.count %></div>
                  <div>Categorías</div>
                </div>
              </div>
            </div>
            <a href="categorias">
              <div class="panel-footer">
                <span class="pull-left">Ir a la página</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>
          </div>
        </div>
    <% end %>

    <% if @permisos.include?("Trabajador") or @permisos.include?("all") %>
        <div class="col-lg-4 col-md-8 col-md-offset-1">
          <div class="panel panel-green">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-male fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge"><%= Trabajador.count %></div>
                  <div>Trabajadores</div>
                </div>
              </div>
            </div>
            <a href="trabajadores">
              <div class="panel-footer">
                <span class="pull-left">Ir a la página</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>
          </div>
        </div>
    <% end %>

    <% if @permisos.include?("Concepto") or @permisos.include?("all") %>
        <div class="col-lg-4 col-md-8 col-md-offset-1">
          <div class="panel panel-yellow">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-list-alt fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge"><%= Concepto.count %></div>
                  <div>Conceptos</div>
                </div>
              </div>
            </div>
            <a href="conceptos">
              <div class="panel-footer">
                <span class="pull-left">Ir a la página</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>
          </div>
        </div>
    <% end %>

    <% if @permisos.include?("Liquidacion") or @permisos.include?("all") %>
        <div class="col-lg-4 col-md-8 col-md-offset-1">
          <div class="panel panel-red">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-money fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge"><%= Liquidacion.count %></div>
                  <div>Liquidaciones</div>
                </div>
              </div>
            </div>
            <a href="liquidaciones">
              <div class="panel-footer">
                <span class="pull-left">Ir a la página</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>
          </div>
        </div>
    <% end %>

    <% if @permisos.include?("PeriodoDePago") or @permisos.include?("all") %>
        <div class="col-lg-4 col-md-8 col-md-offset-1">
          <div class="panel panel-green">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-calendar fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge"><%= PeriodoDePago.count %></div>
                  <div>Periodos de pago</div>
                </div>
              </div>
            </div>
            <a href="periodos_de_pago">
              <div class="panel-footer">
                <span class="pull-left">Ir a la página</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>
          </div>
        </div>
    <% end %>

    <% if @permisos.include?("LogAutitoria") or @permisos.include?("all") %>
        <div class="col-lg-4 col-md-8 col-md-offset-1">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-book fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge"><%= LogAutitoria.count %></div>
                  <div>Registros del Log de Auditoría</div>
                </div>
              </div>
            </div>
            <a href="log_auditorias">
              <div class="panel-footer">
                <span class="pull-left">Ir a la página</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>
          </div>
        </div>
    <% end %>

    <% if @permisos.include?("User") or @permisos.include?("all") %>
        <div class="col-lg-4 col-md-8 col-md-offset-1">
          <div class="panel panel-red">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-user fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge"><%= User.count %></div>
                  <div>Usuarios</div>
                </div>
              </div>
            </div>
            <a href="users">
              <div class="panel-footer">
                <span class="pull-left">Ir a la página</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>
          </div>
        </div>
    <% end %>

    <% if @permisos.include?("Role") or @permisos.include?("all") %>
        <div class="col-lg-4 col-md-8 col-md-offset-1">
          <div class="panel panel-yellow">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-star fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge"><%= Role.count %></div>
                  <div>Roles</div>
                </div>
              </div>
            </div>
            <a href="roles">
              <div class="panel-footer">
                <span class="pull-left">Ir a la página</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>
          </div>
        </div>
    <% end %>

    </div>