<% if can? :create, @role %>
    <h1 class="page-header"></h1>
<% else %>
    <br>
<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Roles
      </div>
      <div class="panel-body">
        <div id="datatable">
          <table id="role" class="display" cellpadding="0" cellspacing="0" border="0" class="table table-condensed">
            <thead>
            <tr>
              <th>Nombre</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <% @roles.each do |role| %>
                <tr>
                  <td><%= role.name %></td>
                  <td><%= link_to '<i class="fa fa-eye"></i>'.html_safe, role, class: 'btn btn-success btn-circle'%>
                    <% if can? :update, @role %>
                        <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_role_path(role), class: 'btn btn-warning btn-circle'%>
                    <% end %>
                    <% if can? :destroy, @role %>
                        <% if role.id == 1 %>
                            <%= link_to '<i class="fa fa-eraser"></i>'.html_safe, role, method: :delete, data: { confirm: 'Está seguro?' }, class: 'btn btn-danger btn-circle disabled' %>
                        <% else %>
                            <%= link_to '<i class="fa fa-eraser"></i>'.html_safe, role, method: :delete, data: { confirm: 'Está seguro?' }, class: 'btn btn-danger btn-circle' %>

                  <% end %>
                    <% end %>
                </tr>
            <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>

<head><script>
    $('#role').DataTable({
        "language": {
            "sProcessing":    "Procesando...",
            "sLengthMenu":    "Mostrar _MENU_ registros",
            "sZeroRecords":   "No se encontraron resultados",
            "sEmptyTable":    "Ningún dato disponible en esta tabla",
            "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix":   "",
            "sSearch":        "Buscar:",
            "sUrl":           "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst":    "Primero",
                "sLast":    "Último",
                "sNext":    "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }
    });
</script></head>