<!--<p id="notice"><%= notice %></p>-->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Editar Rol</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>


<%= nested_form_for(@role, validate: true, :html => { :id => 'validates'}) do |f| %>
    <% if @role.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@role.errors.count, "error") %> prohibited this liquidacion from being saved:</h2>
          <ul>
            <% @role.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row">
      <div class="panel panel-default col-md-12">
        <br>  <div class="form-group">
        <label for="ejemplo_email_3" class="col-md-1 control-label">Nombre<font color=#D00>*</font></label>
        <div class="col-md-3">
          <%= f.text_field :name,'data-validetta'=>'required', :maxlength => 20%>
        </div>
      </div>
        <br>
      </div>
      <div class="col-md-12">
        <div class="col-md-7">
          <div class="form-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <big><b>Permisos</b></big>
              </div>

              <table id="liquidacion_detalles" class="display" cellspacing="0" width="100%">
                <tr>
                  <th>Modelos</th>
                  <th>Acciones</th>
                  <th></th>
                </tr>
                <%= f.fields_for :permissions, :wrapper => false do |form| %>
                    <tr class="fields">
                      <td><%= @modeloslindos[@modelos.index(form.object.subject_class)] %>
                      <td>
                        <label class="checkbox-inline">
                          <%=
                              form.check_box(:actions, { :multiple => true, checked: form.object.actions.include?('manage') }, (['manage']), nil)
                          %>Todo
                        </label>
                        <label class="checkbox-inline">
                          <%=
                              form.check_box(:actions, { :multiple => true, checked: form.object.actions.include?('create') }, (['create']), nil)
                          %>Crear
                        </label>
                        <label class="checkbox-inline">
                          <%=
                              form.check_box(:actions, { :multiple => true, checked: form.object.actions.include?('update') }, (['update']), nil)
                          %>Modificar
                        </label>
                        <label class="checkbox-inline">
                          <%=
                              form.check_box(:actions, { :multiple => true, checked: form.object.actions.include?('destroy') }, (['destroy']), nil)
                          %>Borrar
                        </label>
                        <label class="checkbox-inline">
                          <%=
                              form.check_box(:actions, { :multiple => true, checked: form.object.actions.include?('read')}, (['read']), nil)
                          %>Ver
                        </label>
                      </td>
                    </tr>
                <% end %>

              </table>


            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="form-group">
      <% if !@role.id.nil?%>
          <%= f.button(type: "submit", class: "btn btn-primary btn-circle btn-lg") do %>
              <i class="fa fa-save"></i>
          <% end %>
          <%= link_to '<i class="fa fa-reply"></i>'.html_safe, roles_path, class: 'btn btn-success btn-circle btn-lg' %>
      <% else %>
          <%= f.button(type: "submit", class: "btn btn-primary btn-circle btn-lg") do %>
              <i class="fa fa-save"></i>
          <% end %>
      <% end %>
    </div>
<% end %>

<script>
    $('#validates').validetta({
        realTime : true
    });
</script>

<%= render 'roles' %>