<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Rol</h1>
  </div>
</div>
<br>  <div class="form-group">
  <div class="col-md-3">
    <label for="ejemplo_email_3" class="control-label">Nombre: </label>
    <%= @role.name %>
  </div>
</div>
<h1 class="page-header"></h1>
<div class="panel panel-default ">
  <div class="panel-heading">
    Permisos
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Modelos</th>
        <th>Permisos</th>
      </tr>
      </thead>
      <tbody>
      <% @role.permissions.each do |per| %>
          <%if per.subject_class == 'all' %>
              <td> todos </td>
          <% end %>
          <%if per.subject_class == 'Categoria' %>
              <td> Categorias </td>
          <% end %>
          <%if per.subject_class == 'Concepto' %>
              <td> Conceptos </td>
          <% end %>
          <%if per.subject_class == 'Empresa' %>
              <td> Empresa </td>
          <% end %>
          <%if per.subject_class == 'Liquidacion' %>
              <td> Liquidaciones </td>
          <% end %>
          <%if per.subject_class == 'LogAutitoria' %>
              <td> Log de Auditoría </td>
          <% end %>
          <%if per.subject_class == 'PeriodoDePago' %>
              <td> Periodos de pago </td>
          <% end %>
          <%if per.subject_class == 'Trabajador' %>
              <td> Trabajadores </td>
          <% end %>
          <%if per.subject_class == 'User' %>
              <td> Usuarios </td>
          <% end %>
          <%if per.subject_class == 'Role' %>
              <td> Roles </td>
          <% end %>
          <%permisos= [] %>
          <%if per.actions.include?("manage") %>
              <% permisos.push 'todos' %>
          <% end %>
          <%if per.actions.include?("create") %>
              <% permisos.push 'crear' %>
          <% end %>
          <%if per.actions.include?("update") %>
              <% permisos.push 'modificar' %>
          <% end %>
          <%if per.actions.include?("destroy") %>
              <% permisos.push 'borrar' %>
          <% end %>
          <%if per.actions.include?("read") %>
              <% permisos.push 'ver' %>
          <% end %>
          <%if permisos.size == 0 %>
              <td>restringido</td>
          <% else %>
              <td><%=permisos.join(', ') %></td>
          <% end %>
          <tr/>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<% if can? :update, @role %>
    <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_role_path(@role), class: 'btn btn-warning btn-circle btn-lg'%>
<% end %>
<%= link_to '<i class="fa fa-reply"></i>'.html_safe, roles_path, class: 'btn btn-success btn-circle btn-lg' %>
</div>