<% if can? :create, @concepto%>
    <h1 class="page-header"></h1>
<% else %>
    <br>
<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Conceptos
      </div>
      <div class="panel-body">
              <table id="concepto" class="display" cellpadding="0" cellspacing="0" border="0" class="table table-condensed table-bordered">
                <thead>
                <tr>
                  <th>Codigo</th>
                  <th>Nombre</th>
                  <th>Monto</th>
                  <th>Formula</th>
                  <th>Tipo de Concepto</th>
                  <th>Acumuladores</th>
                  <th>Suma resta</th>
                  <th>Estado</th>
                  <th>Acciones</th>
                </tr>
                </thead>

                <tbody>
                <% @conceptos.each do |concepto| %>
                    <tr>
                      <td><%= concepto.codigo %></td>
                      <td><%= concepto.nombre %></td>
                      <td><%= concepto.monto %></td>
                      <td><%= concepto.formula %></td>
                      <td><%= concepto.tipo_de_concepto %></td>
                      <td><%= concepto.acumuladores.join(', ') %></td>
                      <!--<td><%= concepto.acumulador_id %></td>-->
                      <td><%= concepto.suma_resta %></td>
                      <td><%= concepto.estado %></td>
                      <td><%= link_to '<i class="fa fa-eye"></i>'.html_safe, concepto, class: 'btn btn-success btn-circle'%>
                        <% if can? :update, @concepto%>
                            <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_concepto_path(concepto), class: 'btn btn-warning btn-circle'%>
                        <% end %>
                        <% if can? :destroy, @concepto%>
                            <% if concepto.id == 1 or concepto.id == 2 %>
                                <%= link_to '<i class="fa fa-eraser"></i>'.html_safe, concepto, method: :delete, data: { confirm: 'Está seguro?' }, class: 'btn btn-danger btn-circle disabled' %></td>
                            <% else %>
                                <%= link_to '<i class="fa fa-eraser"></i>'.html_safe, concepto, method: :delete, data: { confirm: 'Está seguro?' }, class: 'btn btn-danger btn-circle' %></td>
                            <% end %>
                        <% end %>
                    </tr>
                <% end %>
                </tbody>
              </table>


            </div>

    </div>
  </div>
</div>

<head><script>
    $('#concepto').DataTable({
        "language": {
            "sProcessing":    "Procesando...",
            "sLengthMenu":    "Mostrar _MENU_ registros",
            "sZeroRecords":   "No se encontraron resultados",
            "sEmptyTable":    "Ningún dato disponible en esta tabla",
            "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix":   "",
            "sSearch":        "Buscar:",
            "sUrl":           "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst":    "Primero",
                "sLast":    "Último",
                "sNext":    "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }
    });
</script></head>


