
  <%= form_for(@concepto, :validate => true , :html => { :id => 'validates'}) do |f| %>
      <% if @concepto.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@concepto.errors.count, "error") %> prohibited this concepto from being saved:</h2>

            <ul>
              <% @concepto.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="row">
        <div class="panel panel-default">
        <div class="row">
          <br>  <div class="form-group">
          <label for="ejemplo_email_3" class="col-md-1 control-label">Código<font color=#D00>*</font></label>
          <div class="col-md-2">
            <%= f.text_field :codigo, :size => 18 , 'data-validetta'=>'required,minLength[2],maxLength[20]', :maxlength => 20%>
          </div>
          <label for="ejemplo_email_3" class="col-md-1 control-label">Nombre<font color=#D00>*</font></label>
          <div class="col-md-2">
            <%= f.text_field :nombre, :size => 18 , 'data-validetta'=>'required,minLength[2],maxLength[20]', :maxlength => 20%>
          </div>
          <label for="ejemplo_email_3" class="col-md-1 control-label">Monto</label>
          <div class="col-md-2">
            <% if @concepto.id == 1 or @concepto.id == 2 %>
                <%= f.number_field :monto, disabled: TRUE, 'data-validetta'=>"callback[sum],maxLength[9]"%>
            <% else %>
                <%= f.number_field :monto, 'data-validetta'=>"callback[sum],maxLength[9]"%>
            <% end %>
          </div>
          <div class="col-md-2">
            <label for="ejemplo_email_3" class="control-label">Suma Resta<font color=#D00>*</font></label>
            <% if @concepto.id == 1 or @concepto.id == 2 %>
                <%= f.select(:suma_resta, options_for_select([['suma'], ['resta']], selected: @concepto.suma_resta), {}, {disabled: true}) %>
            <% else %>
                <%= f.select(:suma_resta, options_for_select([['suma'], ['resta']], selected: @concepto.suma_resta)) %>
            <% end %>
          </div>
        </div>
        </div>
        <div class="row">
          <br> <div class="form-group">
          <label for="ejemplo_email_3" class="col-md-1 control-label">Fórmula</label>
          <div class="col-md-5">
            <% if @concepto.id == 1 or @concepto.id == 2 %>
                <%= f.text_field :formula, :size => 60, 'data-validetta'=>'maxLength[100]', :maxlength => 100, disabled: TRUE %>
            <% else %>
                <%= f.text_field :formula, :size => 60, 'data-validetta'=>'maxLength[100]', :maxlength => 100 %>
            <% end %>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-circle" id="button1" ><i class="fa fa-info-circle"></i>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Ayuda para las fórmulas</h4>
                  </div>
                  <div class="modal-body">
                    Variables disponibles:<br>
                    -salario_basico: Salario básico correspondiente a cada trabajador<br>
                    -acumulado: Total acumulado en el año<br>
                    -liq_en_el_anho: Número de liquidaciones del trabajador en el año<br>
                    -antiguedad: Antigüedad del trabajador en años<br>
                    -At: Acumulador total, o total de la liquidación<br>
                    -Conceptos: c0...c199<br>
                    -Acumuladores: A1, A2, A3, A4, A5<br>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <label for="ejemplo_email_3" class="control-label">Tipo<font color=#D00>*</font></label>
            <% if @concepto.id == 1 or @concepto.id == 2 %>
                <%= f.select(:tipo_de_concepto, options_for_select([['variable'], ['fijo']], selected: @concepto.tipo_de_concepto), {}, {disabled: true}) %>
            <% else %>
                <%= f.select(:tipo_de_concepto, options_for_select([['variable'], ['fijo']], selected: @concepto.tipo_de_concepto)) %>
            <% end %>
          </div>

          <div class="col-md-3">
            <label for="ejemplo_email_3" class="control-label">Estado<font color=#D00>*</font></label>
            <% if @concepto.id == 1 or @concepto.id == 2 %>
                <%= f.select(:estado, options_for_select([['activo'], ['inactivo']], selected: @concepto.estado), {}, {disabled: true}) %>
            <% else %>
                <%= f.select(:estado, options_for_select([['activo'], ['inactivo']], selected: @concepto.estado)) %>
            <% end %>
          </div>
          </div>

          <br> <br> <div class="form-group">
          <label for="ejemplo_email_3" class="col-md-1 control-label">Acumuladores </label>
          <div class="col-md-4">
            <div class="form-group">
              <label class="checkbox-inline">
                <%=
                    f.check_box(:acumuladores, { :multiple => true, checked: @concepto.acumuladores.include?('a1') }, (['a1']), nil)
                %>A1
              </label>
              <label class="checkbox-inline">
                <%=
                    f.check_box(:acumuladores, { :multiple => true, checked: @concepto.acumuladores.include?('a2') }, (['a2']), nil)
                %>A2
              </label>
              <label class="checkbox-inline">
                <%=
                    f.check_box(:acumuladores, { :multiple => true, checked: @concepto.acumuladores.include?('a3') }, (['a3']), nil)
                %>A3
              </label>
              <label class="checkbox-inline">
                <%=
                    f.check_box(:acumuladores, { :multiple => true, checked: @concepto.acumuladores.include?('a4') }, (['a4']), nil)
                %>A4
              </label>
              <label class="checkbox-inline">
                <%=
                    f.check_box(:acumuladores, { :multiple => true, checked: @concepto.acumuladores.include?('a5') }, (['a5']), nil)
                %>A5
              </label>
            </div>
          </div>
        </div>
        </div>
          <br>
        </div>
        <!--<br> <div class="form-group">
      <label for="ejemplo_email_3" class="col-md-1 control-label">Suma resta</label>
      <div class="col-md-3">
        <%= f.select(:suma_resta, options_for_select([['suma'], ['resta']])) %>
      </div>
    </div>-->
        </div>
        <div class="form-group">
          <% if !@concepto.id.nil?%>
              <%= f.button(type: "submit", class: "btn btn-primary btn-circle btn-lg") do %>
                  <i class="fa fa-save"></i>
              <% end %>
              <%= link_to '<i class="fa fa-reply"></i>'.html_safe, conceptos_path, class: 'btn btn-success btn-circle btn-lg' %>
          <% else %>
              <%= f.button(type: "submit", class: "btn btn-primary btn-circle btn-lg") do %>
                  <i class="fa fa-save"></i>
              <% end %>
              <%= link_to '<i class="fa fa-reply"></i>'.html_safe, root_path, class: 'btn btn-success btn-circle btn-lg' %>
          <% end %>
        </div>


  <% end %>
<script>
    $('#validates').validetta({
        validators: {
            callback: {
                sum: {
                    callback:  function( el, value ) {
                        if ( value >= 0 ){
                            return true
                        }
                        return false
                    },
                    errorMessage: "Debe ser mayor o igual a 0"
                }
            }
        },
        realTime : true,
        bubblePosition: 'bottom'
    });
</script>
<script>
    $('#button1').click(function(){
        $('#myModal').modal('show');
    });
</script>