<% if can? :create, @concepto%>
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Nuevo Concepto</h1>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <%= render 'form' %>
<% end %>
<%= render 'conceptos' %>