<!--<p id="notice"><%= notice %></p>-->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Concepto</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<%= form_for(@concepto) do |f| %>
    <% if @concepto.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@concepto.errors.count, "error") %> prohibited this concepto from being saved:</h2>

          <ul>
            <% @concepto.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <form class="form-horizontal" role="form">
      <div class="panel panel-default">
        <br>  <div class="form-group">
        <label for="ejemplo_email_3" class="col-md-1 control-label">Código: </label>
        <div class="col-md-2">
          <%= @concepto.codigo %>
        </div>
        <label for="ejemplo_email_3" class="col-md-1 control-label">Nombre: </label>
        <div class="col-md-2">
          <%= @concepto.nombre %>
        </div>
        <label for="ejemplo_email_3" class="col-md-1 control-label">Monto: </label>
        <div class="col-md-2">
          <%= @concepto.monto %>
        </div>
        <div class="col-md-3">
          <label for="ejemplo_email_3" class="control-label">Suma Resta: </label>
          <%= @concepto.suma_resta %>
        </div>
      </div>
        <br> <div class="form-group">
        <label for="ejemplo_email_3" class="col-md-1 control-label">Fórmula: </label>
        <div class="col-md-5">
          <%= @concepto.formula %>
        </div>

        <div class="col-md-3">
          <label for="ejemplo_email_3" class="control-label">Tipo de concepto: </label>
          <%= @concepto.tipo_de_concepto %>
        </div>

        <div class="col-md-2">
          <label for="ejemplo_email_3" class="control-label">Estado: </label>
          <%= @concepto.estado %>
        </div>

        </div>
        <br>  <div class="form-group">
        <div class="col-md-3">
        <label for="ejemplo_email_3" class="control-label">Acumuladores: </label>

          <%= @concepto.acumuladores.join(', ') %>
        </div>
      </div>
        <br>
      </div>

      <!--<br> <div class="form-group">
      <label for="ejemplo_email_3" class="col-md-1 control-label">Suma resta</label>
      <div class="col-md-3">
        <%= f.select(:suma_resta, options_for_select([['suma'], ['resta']])) %>
      </div>
    </div>-->

      <div class="form-group">
        <% if can? :update, @concepto %>
            <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_concepto_path(@concepto), class: 'btn btn-warning btn-circle btn-lg'%>
        <% end %>
        <%= link_to '<i class="fa fa-reply"></i>'.html_safe, conceptos_path, class: 'btn btn-success btn-circle btn-lg' %>
      </div>
<% end %>
</form>
<%= render 'conceptos' %>