<div class="col-md-7">
  <big><%=f.collection_select(:concepto_id, Concepto.where('tipo_de_concepto' => 'fijo'),
                              :id, :codigo,
                              {:prompt => 'Seleccionar'})%></big>


</div>
<div class="col-md-3">
  <big><%= f.text_field :cantidad, :size => 2%></big>
</div>
<div class="col-md-2">
  <small><td><%= f.link_to_remove '<i class="fa fa-minus"></i>'.html_safe, class: 'btn btn-danger btn-circle' %></td></small>
</div>
