<%= nested_form_for(@liquidacion, validate: true, :html => { :id => 'validates'}) do |f| %>
    <% if @liquidacion.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@liquidacion.errors.count, "error") %> prohibited this liquidacion from being saved:</h2>
          <ul>
            <% @liquidacion.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row">
      <div class="panel panel-default col-md-12">
        <br>  <div class="form-group">
        <label for="ejemplo_email_3" class="col-md-1 control-label">Trabajador<font color=#D00>*</font></label>
        <div class="col-md-3">
          <%=f.collection_select(:trabajador_id , Trabajador.all,
                                 :id, :nombre_apellido, {:prompt => 'Seleccione un trabajador'},'data-validetta'=>'required')%>
          <!--<%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_trabajador_path, remote: true, class: 'btn btn-warning btn-circle' %>-->

        </div>
        <!--<br>  <div class="form-group">
      <label for="ejemplo_email_3" class="col-md-2 control-label">Categoría</label>
      <div class="col-md-10">
        <%=f.collection_select(:categoria_id, Categoria.all,
                               :id, :nombre,
                               {:prompt => 'Seleccione la categoría del trabajador'})%>
      </div>
  </div>-->

        <div class="col-md-3">
          <label for="ejemplo_email_3" class="control-label">Periodo<font color=#D00>*</font></label>
          <%=f.collection_select(:periodo_de_pago_id, PeriodoDePago.where(finalizado: false),
                                 :id, :mes_anho,
                                 {:prompt => 'Seleccione un periodo'},'data-validetta'=>'required')%>
        </div>
        <!--<div class="col-md-5">
          <label for="ejemplo_email_3" class="control-label">Fecha de pago:</label>
          <%= f.text_field :fecha_de_pago, 'data-behaviour' => 'datepicker', :placeholder => "Seleccione la fecha",'data-validetta'=>'required', value: Date.today %>
        </div>-->
      </div>
        <% @periodo_de_pago = 0%>

        <!--<br>  <div class="form-group">
      <label for="ejemplo_email_3" class="col-md-2 control-label">Total</label>
      <div class="col-md-10">
    <%= f.text_field :total %>
      </div>
  </div>-->
        <br>
      </div>
      <div class="col-md-12">
        <div class="col-md-7">
          <div class="form-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <big><b>Novedades Transitorias</b></big>
              </div>

              <table id="liquidacion_detalles" class="display" cellspacing="0" width="100%">
                <tr>
                  <th>Concepto</th>
                  <th>Cantidad</th>
                  <th></th>
                </tr><!--, @liquidacion.novedades_transitorias.transitorias_ordenadas-->
                <%= f.fields_for :novedades_transitorias, :wrapper => false do |form| %>
                    <tr class="fields">
                          <td><%=form.collection_select(:concepto_id, Concepto.where(tipo_de_concepto: "variable", estado: "activo").order('codigo ASC'),
                                                        :id, :codigo_nombre,
                                                        {:prompt => 'Seleccionar'},'data-validetta'=>"required")%></td>
                          <td> <%= form.number_field :cantidad, :size => 2, 'data-validetta'=>"callback[sum],maxLength[9]" %></td>
                          <td><%= f.link_to_remove '<i class="fa fa-minus"></i>'.html_safe, class: 'btn btn-danger btn-circle' %></td>

                    </tr>
                <% end %>

              </table>

              <%= f.link_to_add '<i class="fa fa-plus"></i>'.html_safe, :novedades_transitorias, class: 'btn btn-success btn-circle', :data => { :target => "#liquidacion_detalles" } %>

            </div>
          </div>
        </div>
      </div>
    </div>
        <div class="form-group">
          <% if !@liquidacion.id.nil?%>
              <%= f.button(type: "submit", class: "btn btn-primary btn-circle btn-lg") do %>
                  <i class="fa fa-save"></i>
              <% end %>
              <%= link_to '<i class="fa fa-reply"></i>'.html_safe, liquidaciones_path, class: 'btn btn-success btn-circle btn-lg' %>
          <% else %>
              <%= f.button(type: "submit", class: "btn btn-primary") do %>
                  liquidar</i>
              <% end %>
              <%= link_to '<i class="fa fa-reply"></i>'.html_safe, root_path, class: 'btn btn-success btn-circle btn-lg' %>
          <% end %>
        </div>
<% end %>

<script>
    $(function() {
        var fieldsCount,
                maxFieldsCount = 4,
                $addLink = $('f.add_nested_fields');
        function toggleAddLink() {
            $addLink.toggle(fieldsCount <= maxFieldsCount)
        }
        $(document).on('nested:fieldAdded', function() {
            fieldsCount += 1;
            toggleAddLink();
        });
        $(document).on('nested:fieldRemoved', function() {
            fieldsCount -= 1;
            toggleAddLink();
        });
        // count existing nested fields after page was loaded
        fieldsCount = $('form .fields').length;
        toggleAddLink();
    })
</script>
<script type="text/javascript">
    $('.datepicker').datepicker()
    $('[data-behaviour~=datepicker]').datepicker({
        startDate: '-1d',
        endDate: '+1m'
    });
</script>
<script>
    $('#validates').validetta({
        validators: {
            callback: {
                sum: {
                    callback:  function( el, value ) {
                        if ( value >= 0 ){
                            return true
                        }
                        return false
                    },
                    errorMessage: "Debe ser mayor o igual a 0"
                }
            }
        },
        realTime : true
    });
</script>
