<% if can? :create, @liquidacion %>
<h1 class="page-header"></h1>
    <% else %>
    <br>
    <% end %>
<div class="row">

  <div class="col-md-12">

        <div class="panel panel-default">
          <div class="panel-heading">
            Liquidaciones
          </div>
          <div class="panel-body">
              <table id="liquidacion" class="display" cellpadding="0" cellspacing="0" border="0" class="table table-condensed">
                <thead>
                <tr>
                  <th>Trabajador</th>
                  <th>Categoría</th>
                  <th>Periodo</th>
                  <th>Fecha de proceso</th>
                  <th>Total</th>
                  <th>Acciones</th>
                </tr>
                </thead>
                <tbody>

                <% @liquidaciones.each do |liquidacion| %>
                    <tr>
                      <td><%= liquidacion.trabajador.nombre_apellido%></td>
                      <td><%= liquidacion.categoria.nombre %></td>
                      <td><%= liquidacion.periodo_de_pago.mes_anho %></td>
                      <td><%= liquidacion.fecha_de_pago.strftime("%d/%m/%Y") %></td>
                      <td><%= number_to_currency(liquidacion.total, precision: 0, unit: "G.") %></td>
                      <td><%= link_to '<i class="fa fa-eye"></i>'.html_safe, liquidacion, class: 'btn btn-success btn-circle'%>
                        <% if can? :update, @liquidacion %>
                            <% if liquidacion.periodo_de_pago.finalizado? %>
                                <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_liquidacion_path(liquidacion), class: 'btn btn-warning btn-circle disabled'%>
                            <% else %>
                                <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_liquidacion_path(liquidacion), class: 'btn btn-warning btn-circle'%>
                            <% end %>
                        <% end %>
                        <% if can? :destroy, @liquidacion %>
                            <% if liquidacion.periodo_de_pago.finalizado? %>
                                <%= link_to '<i class="fa fa-eraser"></i>'.html_safe, liquidacion, method: :delete, data: { confirm: 'Está seguro?' }, class: 'btn btn-danger btn-circle disabled' %></td>
                            <% else %>
                                <%= link_to '<i class="fa fa-eraser"></i>'.html_safe, liquidacion, method: :delete, data: { confirm: 'Está seguro?' }, class: 'btn btn-danger btn-circle' %></td>
                            <% end %>
                        <% end %>
                        </tr>
                <% end %>
                </tbody>

              </table>
    </div>
    </div>
  </div>
</div>

<head><script>
    $('#liquidacion').DataTable({
        "language": {
            "sProcessing":    "Procesando...",
            "sLengthMenu":    "Mostrar _MENU_ registros",
            "sZeroRecords":   "No se encontraron resultados",
            "sEmptyTable":    "Ningún dato disponible en esta tabla",
            "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix":   "",
            "sSearch":        "Buscar:",
            "sUrl":           "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst":    "Primero",
                "sLast":    "Último",
                "sNext":    "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }
    });
</script></head>