<div class="row">
<div class="col-md-6">
  <big><%=f.collection_select(:concepto_id, Concepto.where(tipo_de_concepto: "variable"),
                              :id, :codigo,
                              {:prompt => 'Seleccionar'}, 'data-validetta'=>"required")%></big>

</div>
<div class="col-md-5">
  <big><%= f.number_field :cantidad, :size => 2, 'data-validetta'=>"callback[sum],maxLength[9]"%></big>
</div>
<div class="col-md-1">
  <% if NovedadTransitoria.where(liquidacion_id: @liquidacion.id).first.nil? %>
    <small><td><%= f.link_to_remove '<i class="fa fa-minus"></i>'.html_safe, class: 'btn btn-danger btn-circle', disabled: @inhabilitar %></td></small>
  <% end %>
</div>
</div>