<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Editar Liquidación</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<%= nested_form_for(@liquidacion, validate: true, :html => { :id => 'validates'}) do |f| %>
    <% if @liquidacion.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@liquidacion.errors.count, "error") %> prohibited this liquidacion from being saved:</h2>
          <ul>
            <% @liquidacion.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <% @trabajador = Trabajador.find(@liquidacion.trabajador_id) %>
    <% @categoria = Categoria.find(@liquidacion.categoria_id) %>
    <% @periodo_de_pago = PeriodoDePago.find(@liquidacion.periodo_de_pago_id)%>
    <% @liquidacion.cargar_variables %>
    <%
       LiquidacionDetalle.where(liquidacion_id: @liquidacion.id).order(codigo: :asc).find_each do |ld|
         ld.acumular
       end
       NovedadTransitoria.where(liquidacion_id: @liquidacion.id).order(codigo: :asc).find_each do |nt|
      nt.acumular
    end %>
    <div class="row">
      <div class="panel panel-default">
        <br>  <div class="form-group">
        <div class="col-md-3">
          <label for="ejemplo_email_3" class="control-label">Trabajador: </label>
          <%= @trabajador.nombre_apellido %>
        </div>
        <div class="col-md-3">
          <label for="ejemplo_email_3" class="control-label">Categoría: </label>
          <%= @categoria.nombre %>
        </div>
        <div class="col-md-2">
          <label for="ejemplo_email_3" class="control-label">Periodo: </label>
          <%= @periodo_de_pago.mes_anho %>
        </div>
        <div class="col-md-3">
          <label for="ejemplo_email_3" class="control-label">Fecha de procesamiento: </label>
          <%= @liquidacion.fecha_de_pago %>
        </div>
      </div>
        <br>
      </div>
      <div class="col-md-12">
        <div class="col-md-7">
          <div class="form-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <big><b>Novedades Transitorias</b></big>
              </div>
              <table id="liquidacion_detalles" class="display" cellspacing="0" width="100%">
                <tr>
                  <th>Concepto</th>
                  <th>Cantidad</th>
                  <th></th>
                </tr>
                <%= f.fields_for :novedades_transitorias, :wrapper => false do |form| %>
                    <tr class="fields">
                      <% if form.object.new_record? %>
                          <td><%=form.collection_select(:concepto_id, Concepto.where(tipo_de_concepto: "variable"),
                                                        :id, :codigo_nombre,
                                                        {:prompt => 'Seleccionar'},'data-validetta'=>"required")%></td>
                          <td> <%= form.text_field :cantidad, :size => 2, 'data-validetta'=>"callback[sum],maxLength[9]" %></td>
                          <td><%= f.link_to_remove '<i class="fa fa-minus"></i>'.html_safe, class: 'btn btn-danger btn-circle' %></td>
                    <% else %>
                        <td><%=form.collection_select(:concepto_id, Concepto.where(tipo_de_concepto: "variable"),
                                                      :id, :codigo_nombre,
                                                      {:prompt => 'Seleccionar'},'data-validetta'=>"required", disabled: true)%></td>
                        <td> <%= form.text_field :cantidad, :size => 2, 'data-validetta'=>"callback[sum],maxLength[9]", disabled: true %></td>
                        <td><%= f.link_to_remove '<i class="fa fa-minus"></i>'.html_safe, class: 'btn btn-danger btn-circle', disabled: true %></td>
                    <% end %>
                    </tr>
                <% end %>
              </table>
              <% if !@liquidacion.liquidacion_detalles.any? %>
                  <%= f.link_to_add '<i class="fa fa-plus"></i>'.html_safe, :novedades_transitorias, class: 'btn btn-success btn-circle', :data => { :target => "#liquidacion_detalles" } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% if !@liquidacion.liquidacion_detalles.any? %>
        <div class="form-group">
          <%= link_to "Agregar conceptos fijos", {:controller => "liquidaciones", :action => "agregar_conceptos_fijos", :id => @liquidacion.id }, class: 'btn btn-primary'%>
        </div>
        <% else %>
        <div class="form-group">
          <%= link_to "Agregar conceptos fijos ✓", {:controller => "liquidaciones", :action => "agregar_conceptos_fijos", :id => @liquidacion.id }, class: 'btn btn-primary disabled'%>
        </div>
    <% end %>
    <div class="form-group">
          <%= f.button(type: "submit", class: "btn btn-primary btn-circle btn-lg") do %>
              <i class="fa fa-save"></i>
          <% end %>
          <%= link_to '<i class="fa fa-reply"></i>'.html_safe, liquidaciones_path, class: 'btn btn-success btn-circle btn-lg' %>
    </div>
<% end %>

<script>
    $('#validates').validetta({
        validators: {
            callback: {
                sum: {
                    callback:  function( el, value ) {
                        if ( value >= 0 ){
                            return true
                        }
                        return false
                    },
                    errorMessage: "Debe ser mayor o igual a 0"
                }
            }
        },
        realTime : true
    });
</script>

<script type="text/javascript">
    $('.datepicker').datepicker()
    $('[data-behaviour~=datepicker]').datepicker({
        startDate: '-1d',
        endDate: '+1m'
    });
</script>

  <%= render 'liquidaciones' %>