<% if can? :create, @liquidacion %>
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Nueva Liquidación Individual</h1>
      </div>
      <!-- /.col-lg-12 -->
    </div>

    <%= render 'form' %>

    <div class="col-lg-12">
      <h1 class="page-header">Liquidar por Categoría</h1>
    </div>
    <%= form_tag(liquidar_periodos_de_pago_path) do %>
        <div class="panel panel-default col-md-12">
          <br>
          <div class="col-md-3">
            <label for="ejemplo_email_3" class="control-label">Periodo<font color=#D00>*</font></label>
            <%= select_tag(:id, options_from_collection_for_select(PeriodoDePago.where(finalizado: FALSE), "id", "mes_anho"), prompt: "Seleccione el periodo", 'data-validetta'=>'required',required: true) %>
          </div>
          <div class="col-md-3">
            <label for="ejemplo_email_3" class="col-md-4 control-label">Categoría<font color=#D00>*</font></label>
            <%= select_tag(:categoria_id, options_from_collection_for_select(Categoria.all, "id", "nombre"), prompt: "Todas las categorías") %>
          </div>
          <br><br>
        </div>
        <%= submit_tag(value="liquidar", class: 'btn btn-primary')%>
    <% end %>
<% end %>
<%= render 'liquidaciones' %>