
<%= form_for(@liquidacion) do |f| %>
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Liquidación</h1>
      </div>
    </div>

    <form class="form-horizontal" role="form">
      <div class="panel panel-default">
        <br>  <div class="form-group">


        <% @trabajador = Trabajador.find(@liquidacion.trabajador_id) %>
        <% @categoria = Categoria.find(@liquidacion.categoria_id) %>
        <% @periodo_de_pago = PeriodoDePago.find(@liquidacion.periodo_de_pago_id)%>
        <% @total_sumas = 0 %>
        <% @total_descuentos = 0 %>
        <div class="col-md-3">
          <label for="ejemplo_email_3" class="control-label">Trabajador: </label>

          <%= @trabajador.nombre_apellido %>
        </div>

        <div class="col-md-3">
          <label for="ejemplo_email_3" class="control-label">Categoría: </label>

          <%= @categoria.nombre %>
        </div>


        <div class="col-md-3">
          <label for="ejemplo_email_3" class="control-label">Periodo: </label>
          <%= @periodo_de_pago.mes_anho %>
        </div>
        <div class="col-md-3">
          <label for="ejemplo_email_3" class="control-label">Fecha de proceso: </label>
          <%= @liquidacion.fecha_de_pago.strftime("%d/%m/%Y") %>
        </div>
      </div>
        <br>
      </div>
    </form>
    <h1 class="page-header"></h1>
    <div class="panel panel-default">
      <div class="panel-heading">
        Detalles
      </div>
      <div class="panel-body">
        <%= form_tag categorias_path, :method => 'get', :id => "categorias_search" do %>
            <p>
              <!--<%= label_tag "Mostrar: " %>
              <%= select_tag :per_page, options_for_select([2,4,8,12], params[:per_page].to_i),
                             :onchange => "if(this.value){window.location='?per_page='+this.value;}" %>
              <span class="pull-right">
                <%= text_field_tag :search, params[:search], :size => 14 %>
                <%= submit_tag "Buscar", :name => nil %>
              </span>-->
            </p>
            <table class="table table-striped table-bordered">
              <thead>
              <tr>
                <th>Concepto</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Sumas</th>
                <th>Descuentos</th>
              </tr>
              </thead>
              <tbody>
              <% @detalles_generales = Array.new %>
              <% @liquidacion.liquidacion_detalles.each do |ld| %>
                  <% @detalles_generales.push(ld) %>
              <% end %>
              <% @liquidacion.novedades_transitorias.each do |nt| %>
                  <% @detalles_generales.push(nt) %>
              <% end %>
              <% @detalles_generales.sort! { |a, b| a.concepto.codigo.to_s <=> b.concepto.codigo.to_s } %>
              <% @detalles_generales.each do |detalles| %>
                  <td><%= detalles.concepto.codigo %></td>
                  <td><%= detalles.concepto.nombre %></td>
                  <td><%= detalles.cantidad %></td>
                  <td><%= number_to_currency(detalles.suma, precision: 0, unit: "G.") %></td>
                  <td><%= number_to_currency(detalles.descuento, precision: 0, unit: "G.") %></td>
                  <% @total_sumas = @total_sumas + detalles.suma %>
                  <% @total_descuentos = @total_descuentos + detalles.descuento %>
                  <tr/>
              <% end %>
              </tbody>
            </table>
              <div class="col-md-3 col-md-offset-9">
                <label for="ejemplo_email_3" class="control-label">Total Sumas:      </label><%= number_to_currency(@total_sumas, precision: 0, unit: "G.")%>
                <br>
                <label for="ejemplo_email_3" class="control-label">Total Descuentos: </label> <%= number_to_currency(@total_descuentos, precision: 0, unit: "G.") %>
                <br>
                <label for="ejemplo_email_3" class="control-label">Total Neto:       </label> <%= number_to_currency(@liquidacion.total, precision: 0, unit: "G.") %>
              </div>
            <p><p><p>
            </div>
            </div>
            <% if can? :update, @liquidacion %>
                <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_liquidacion_path(@liquidacion), class: 'btn btn-warning btn-circle btn-lg'%>
            <% end %>
            <%= link_to '<i class="fa fa-reply"></i>'.html_safe, liquidaciones_path, class: 'btn btn-success btn-circle btn-lg' %>
            <%= link_to "Generar Recibo", {:controller => "liquidaciones", :action => "generar_recibo", :id => @liquidacion.id }, class: 'btn btn-primary'%>
        <% end %>
<% end %>


</div>