<br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= t('.editar_perfil', :resource => resource_class.model_name.human , :default => "Editar perfil") %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name,validate: true, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <br>
      <div class="form-group">
        <%= f.label "Correo electrónico" %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "Contraseña" %> <i>(<%= t('.dejar en blanco si no desea cambiarlo', :default => "dejar en blanco si no desea cambiarlo") %>)</i><br />
        <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "Confirmación de contraseña" %><br />
        <%= f.password_field :password_confirmation, class: "form-control"  %>
      </div>
      <div class="form-group">
        <%= f.label "Contraseña anterior" %> <i>(<%= t('.necesitamos su contraseña actual para confirmar los cambios', :default => 'necesitamos su contraseña actual para confirmar los cambios') %>)</i>
        <%= f.password_field :current_password, class: "form-control", required: true %>
      </div>
      <%= f.submit t('.Actualizar', :default => "Actualizar"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<p><%= t('.Infeliz', :default => 'Infeliz') %>? <%= link_to t('.cancelar mi cuenta', :default => "Cancelar mi cuenta"), registration_path(resource_name), :data => { :confirm => t('.estas seguro', :default => "Estas seguro?") }, :method => :delete %>.</p>

<%= link_to t('.atras', :default => 'Atras'), :back %>
