<%- if controller_name != 'sessions' %>
<%= link_to t(".Iniciar Sesión", :default => "Iniciar Sesión"), new_session_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
<%= link_to t(".Registrarse", :default => "Registrarse"), new_registration_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
<%= link_to t(".¿Olvidaste tu contraseña?", :default => "¿Olvidaste tu contraseña?"), new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
<%= link_to t('.No recibió instrucciones de confirmación?', :default => "No recibió instrucciones de confirmación?"), new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
<%= link_to t('.No recibir instrucciones de desbloqueo?', :default => "No recibir instrucciones de desbloqueo?"), new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
  <%= link_to t('.Iniciar sesión con proveedor', :provider => provider.to_s.titleize, :default => "Iniciar sesión con #{provider.to_s.titleize}"), omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%>
