<!DOCTYPE html>
<html>
<head>
  <title><%="Sueldos - " + controller_name %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :defaults, 'nested_form' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<style>
    a:link
    a:visited {color:#ffffff; background-color:transparent; text-decoration:underline}
    a:hover   {color:red; background-color:transparent; text-decoration:underline}
    a:active  {color:yellow; background-color:transparent; text-decoration:underline}
</style>
<% if user_signed_in? %>
    <div id="wrapper">
      <% @permisos = current_user.permisos_array %>
      <% empresa = Empresa.find(1) %>
      <% $current_user = current_user %>
      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
          <a href="http://localhost:3000/"><%= image_tag empresa.image_url.to_s, :width => 147, :height => 49 %></a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
          <div id="user_nav">
            <br>
            <% if @permisos.include?("User") or @permisos.include?("Empresa") or @permisos.include?("Role") or @permisos.include?("all") %>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-gear fa-fw"></i> <i class="fa fa-caret-down"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-user">
                    <% if @permisos.include?("Empresa") or @permisos.include?("all") %>
                        <li><a href= "http://localhost:3000/empresas/1"> <i class="fa fa-align-justify fa-fw"></i> Perfil de la empresa</a></li>
                    <% end %>
                    <% if @permisos.include?("User") or @permisos.include?("all") %>
                        <li><a href= "http://localhost:3000/users"> <i class="fa fa-user fa-fw"></i> Usuarios</a></li>
                    <% end %>
                    <% if @permisos.include?("Role") or @permisos.include?("all") %>
                        <li><a href= "http://localhost:3000/roles"> <i class="fa fa-star fa-fw"></i> Roles</a></li>
                    <% end %>
                    <li><a id="button2"> <i class="fa fa-question-circle fa-fw"></i> Acerca De</a></li>

                  </ul>
                  <!-- /.dropdown-config -->
                </li>
            <% end %>
            <!-- Single button -->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu dropdown-user">
                <li><a> <b><%= current_user.email %></b> </a></li>
                <li role="separator" class="divider"></li>
                <li><a href= "http://localhost:3000/users/edit"> <i class="fa fa-pencil fa-fw"></i> Editar perfil</a></li>
                <li role="separator" class="divider"></li>
                <li><a <%= link_to "Cerrar sesión", destroy_user_session_path, :method => :delete %></a></li>
              </ul>
              <!-- /.dropdown-user -->
            </li>
            <!--<div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.email %> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a <%= link_to 'Perfil de la empresa', empresa %></a></li>
                <li><a <%= link_to "Editar perfil",edit_user_registration_path %></a></li>
                <li role="separator" class="divider"></li>
                <li><a <%= link_to "Cerrar sesión", destroy_user_session_path, :method => :delete  %></a></li>
              </ul>
            </div>-->
            </li>
          </div>
        </ul>
        <!-- /.navbar-top-links -->
        <div class="navbar-default sidebar" role="navigation">
          <div class="sidebar-nav navbar-collapse">
            <ul class="nav in" id="side-menu">
              <li>
                <% if controller_name == 'pantalla_inicial'%>
                    <a href="http://localhost:3000/" class="active"><h4><i class="fa fa-chevron-right"></i> Sueldos</h4></a>
                <% else %>
                    <a href="http://localhost:3000/"><h4><i class="fa fa-chevron-right"></i> Sueldos</h4></a>
                <% end %>
              </li>
              <% if @permisos.include?("Categoria") or @permisos.include?("all") %>
                  <% if controller_name == 'categorias'%>
                      <li>
                        <a href="http://localhost:3000/categorias" class="active"><i class="fa fa-sitemap fa-fw"></i> Categorías</a>
                      </li>
                  <% else %>
                      <li>
                        <a href="http://localhost:3000/categorias"><i class="fa fa-sitemap fa-fw"></i> Categorías</a>
                      </li>
                  <% end %>
              <% end %>
              <% if @permisos.include?("Trabajador") or @permisos.include?("all") %>
                  <% if controller_name == 'trabajadores'%>
                      <li>
                        <a href="http://localhost:3000/trabajadores" class="active"><i class="fa fa-male fa-fw"></i> Trabajadores</a>
                      </li>
                  <% else %>
                      <li>
                        <a href="http://localhost:3000/trabajadores"><i class="fa fa-male fa-fw"></i> Trabajadores</a>
                      </li>
                  <% end %>
              <% end %>
              <% if @permisos.include?("Concepto") or @permisos.include?("all") %>
                  <% if controller_name == 'conceptos'%>
                      <li>
                        <a href="http://localhost:3000/conceptos" class="active"><i class="fa fa-list-alt fa-fw"></i> Conceptos</a>
                      </li>
                  <% else %>
                      <li>
                        <a href="http://localhost:3000/conceptos"><i class="fa fa-list-alt fa-fw"></i> Conceptos</a>
                      </li>
                  <% end %>
              <% end %>
              <% if @permisos.include?("Liquidacion") or @permisos.include?("all") %>
                  <% if controller_name == 'liquidaciones'%>
                      <li>
                        <a href="http://localhost:3000/liquidaciones" class="active"><i class="fa fa-money fa-fw"></i> Liquidaciones</a>
                      </li>
                  <% else %>
                      <li>
                        <a href="http://localhost:3000/liquidaciones"><i class="fa fa-money fa-fw"></i> Liquidaciones</a>
                      </li>
                  <% end %>
              <% end %>
              <% if @permisos.include?("PeriodoDePago") or @permisos.include?("all") %>
                  <% if controller_name == 'periodos_de_pago'%>
                      <li>
                        <a href="http://localhost:3000/periodos_de_pago" class="active"><i class="fa fa-calendar fa-fw"></i> Periodos de pago</a>
                      </li>
                  <% else %>
                      <li>
                        <a href="http://localhost:3000/periodos_de_pago"><i class="fa fa-calendar fa-fw"></i> Periodos de pago</a>
                      </li>
                  <% end %>
              <% end %>
              <% if @permisos.include?("LogAutitoria") or @permisos.include?("all") %>
                  <% if controller_name == 'log_auditorias'%>
                      <li>
                        <a href="http://localhost:3000/log_auditorias" class="active"><i class="fa fa-book fa-fw"></i> Log de Auditoría</a>
                      </li>
                  <% else %>
                      <li>
                        <a href="http://localhost:3000/log_auditorias"><i class="fa fa-book fa-fw"></i> Log de Auditoría</a>
                      </li>
                  <% end %>
              <% end %>
              <!--<% if @permisos.include?("User") or @permisos.include?("all") %>
                  <% if controller_name == 'users'%>
                      <li>
                        <a href="http://localhost:3000/users" class="active"><i class="fa fa-user fa-fw"></i> Usuarios</a>
                      </li>
                  <% else %>
                      <li>
                        <a href="http://localhost:3000/users"><i class="fa fa-user fa-fw"></i> Usuarios</a>
                      </li>
                  <%end%>
              <%end%>
              <% if @permisos.include?("Role") or @permisos.include?("all") %>
                  <% if controller_name == 'roles'%>
                      <li>
                        <a href="http://localhost:3000/roles" class="active"><i class="fa fa-star fa-fw"></i> Roles</a>
                      </li>
                  <% else %>
                      <li>
                        <a href="http://localhost:3000/roles"><i class="fa fa-star fa-fw"></i> Roles</a>
                      </li>
                  <%end%>
              <%end%>-->
            </ul>
          </div>
          <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
      </nav>

      <div id="page-wrapper" style="min-height: 670px;">
        <!--<p id="notice"><%= notice %></p>-->
        <% if notice != nil%>
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <p id="notice"> <%= notice %></p>
            </div>
        <% end %>
        <% if error != nil%>
            <div class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <%= error %>
            </div>
        <% end %>

        <%= yield %>

      </div>
    </div>

<% else %>
    <div class="col-md-4 col-md-offset-4">
      <%= yield %>

    </div>
<% end %>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Acerca De Sueldos:</h4>
      </div>
      <div class="modal-body">
        Sueldos es un sistema de sueldos para el mejor funcionamiento de su empresa<br>
        <br>
        Versión 1.0<br>
        <br>
        Desarrollado por Jiñes-Esquivel soft<br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
<script>
    $('#button2').click(function(){
        $('#myModal').modal('show');
    });
</script>