
<%= form_for(@trabajador, :validate => true, :html => { :id => 'validates'}) do |f| %>
<% if @trabajador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trabajador.errors.count, "error") %> prohibited this trabajador from being saved:</h2>

      <ul>
        <% @trabajador.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="row">
  <div class="panel panel-default">
    <div class="row">
      <br>  <div class="form-group">
      <label for="ejemplo_email_3" class="col-md-1 control-label">Nombre<font color=#D00>*</font></label>
      <div class="col-lg-3">
        <%= f.text_field :nombre, :size => 30, :maxlength => 40, 'data-validetta'=>'required' %>
      </div>
      <label for="ejemplo_email_3" class="col-md-1 control-label">Apellido<font color=#D00>*</font></label>
      <div class="col-lg-3">
        <%= f.text_field :apellido, :size => 30, :maxlength => 40, 'data-validetta'=>'required' %>
      </div>
      <label for="ejemplo_email_3" class="col-md-1 control-label">Ciudad</label>
      <div class="col-md-3">
        <%= f.text_field :ciudad, :size => 31, 'data-validetta'=>'minLength[2],maxLength[40]', :maxlength => 40 %>
    </div>
    </div>
    </div>
    <div class="row">
      <br>  <div class="form-group">
      <label for="ejemplo_email_3" class="col-md-1 control-label">Nacionalidad<font color=#D00>*</font></label>
      <div class="col-md-3">
        <%=f.collection_select(:nacionalidad_id, Nacionalidad.all.order(nombre: :asc),
                               :id, :nombre,
                               {:prompt => 'Seleccione la nacionalidad'}, 'data-validetta'=>'required', id: 'nacionalidadSelect')%>
        <%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_nacionalidad_path, remote: true, class: 'btn btn-warning btn-circle' %>
      </div>

      <div class="col-md-4">
        <label for="ejemplo_email_3" class=" control-label">Documento de Identidad<font color=#D00>*</font></label>
        <%= f.number_field :documento_de_identidad, 'data-validetta'=>'required,callback[sum],maxLength[9]' %>
      </div>
      <label for="ejemplo_email_3" class="col-md-1 control-label">Email</label>
      <div class="col-md-3">
        <%= f.text_field :email , 'data-validetta'=>'email,minLength[2],maxLength[25]', :maxlength => 25%>
      </div>
    </div>
    </div>
    <div class="row">
      <br>  <div class="form-group">
      <label for="ejemplo_email_3" class="col-md-1 control-label">Teléfono</label>
      <div class="col-md-3">
        <%= f.text_field :numero_de_telefono, 'data-validetta'=>'minLength[8],maxLength[20]', :maxlength => 20 %>
      </div>
      <label for="ejemplo_email_3" class="col-md-1 control-label">Categoría<font color=#D00>*</font></label>
      <div class="col-md-3">
        <%=f.collection_select(:categoria_id, Categoria.all.order(nombre: :asc),
                               :id, :nombre,
                               {:prompt => 'Seleccione una categoría'}, id: 'categoriaSelect', 'data-validetta'=>'required')%>
        <%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_categoria_path, remote: true, class: 'btn btn-warning btn-circle' %>

      </div>
      <label for="ejemplo_email_3" class="col-md-1 control-label">Estado<font color=#D00>*</font></label>
      <div class="col-md-3">
        <%= f.select(:estado, options_for_select([['activo'], ['inactivo']], selected: @trabajador.estado)) %>

    </div>
    </div>
    </div>
    <div class="row">
      <br>  <div class="form-group">
      <label for="ejemplo_email_3" class="col-md-1 control-label">Dirección</label>
      <div class="col-md-3">
        <%= f.text_field :direccion, :size => 30 , 'data-validetta'=>'minLength[5],maxLength[50]', :maxlength => 50%>
      </div>
      <div class="col-md-4">
        <label for="ejemplo_email_3" class="control-label">Fecha de Ingreso<font color=#D00>*</font></label>
        <% if @trabajador.id.nil?%>
            <%= f.text_field :fecha_de_ingreso, 'data-behaviour' => 'datepicker', :placeholder => "Seleccione la fecha" , 'data-validetta'=>'required', :maxlength => 15, value: Date.today.strftime("%d/%m/%Y")%>
        <% else %>
            <%= f.text_field :fecha_de_ingreso, 'data-behaviour' => 'datepicker', :placeholder => "Seleccione la fecha" , 'data-validetta'=>'required', :maxlength => 15, value: @trabajador.fecha_de_ingreso.strftime("%d/%m/%Y") %>
        <% end %>
      </div>
    </div>
    </div>
    <br>
  </div>
</div>
<div class="form-group">
  <% if !@trabajador.id.nil?%>
      <%= f.button(type: "submit", class: "btn btn-primary btn-circle btn-lg") do %>
          <i class="fa fa-save"></i>
      <% end %>
      <%= link_to '<i class="fa fa-reply"></i>'.html_safe, trabajadores_path, class: 'btn btn-success btn-circle btn-lg' %>
  <% else %>
      <%= f.button(type: "submit", class: "btn btn-primary btn-circle btn-lg") do %>
          <i class="fa fa-save"></i>
      <% end %>
      <%= link_to '<i class="fa fa-reply"></i>'.html_safe, root_path, class: 'btn btn-success btn-circle btn-lg' %>
  <% end %>

</div>

<% end %>

<script type="text/javascript">
    $('.datepicker').datepicker()
    $('[data-behaviour~=datepicker]').datepicker({
        format: 'dd/mm/yyyy',
        startDate: '-2y',
        endDate: '+0d'
    });
</script>
<script>
    $('#validates').validetta({
        realTime : true,
        bubblePosition: 'bottom'
    });
</script>