<%= form_for(@trabajador) do |f| %>
<form class="form-horizontal" role="form">
  <div class="panel panel-default">
    <br>  <div class="form-group">
    <label for="ejemplo_email_3" class="col-md-1 control-label">Nombre*</label>
    <div class="col-lg-3">
      <%= f.text_field :nombre, :size => 30 %>
    </div>
    <label for="ejemplo_email_3" class="col-md-1 control-label">Ciudad</label>
    <div class="col-md-3">
      <%= f.text_field :ciudad, :size => 31 %>
    </div>
    <label for="ejemplo_email_3" class="col-md-1 control-label">Dirección</label>
    <div class="col-md-3">
      <%= f.text_field :direccion, :size => 30 %>
    </div>
  </div>
    <br>  <div class="form-group">
    <label for="ejemplo_email_3" class="col-md-1 control-label">Nacionalidad*</label>
    <div class="col-md-3">
      <%=f.collection_select(:nacionalidad_id, Nacionalidad.all,
                             :id, :nombre,
                             {:prompt => 'Seleccione la nacionalidad'})%>
    </div>

    <div class="col-md-4">
      <label for="ejemplo_email_3" class=" control-label">Documento de Identidad*</label>
      <%= f.text_field :documento_de_identidad %>
    </div>
    <label for="ejemplo_email_3" class="col-md-1 control-label">Email</label>
    <div class="col-md-3">
      <%= f.text_field :email %>
    </div>
  </div>
    <br>  <div class="form-group">
    <label for="ejemplo_email_3" class="col-md-1 control-label">Teléfono</label>
    <div class="col-md-3">
      <%= f.text_field :numero_de_telefono %>
    </div>
    <label for="ejemplo_email_3" class="col-md-1 control-label">Categoría*</label>
    <div class="col-md-3">
      <%=f.collection_select(:categoria_id, Categoria.all,
                             :id, :nombre,
                             {:prompt => 'Seleccione una categoría'})%>
    </div>
    <label for="ejemplo_email_3" class="col-md-1 control-label">Estado*</label>
    <div class="col-md-3">
      <%= f.select(:estado, options_for_select([['activo'], ['inactivo']])) %>
    </div>

  </div>
    <br>  <div class="form-group">

    <div class="col-md-4">
      <label for="ejemplo_email_3" class="control-label">Fecha de Ingreso*</label>
      <%= f.text_field :fecha_de_ingreso %>
      <input type="text" data-provide='datepicker' size="8" >
    </div>

  </div>
    <br>
  </div>
</form>
<%end%>