<% if can? :create, @trabajador %>
    <h1 class="page-header"></h1>
<% else %>
    <br>
<% end %>
<div class="row">
  <div class="col-md-20">
    <div class="panel panel-default">
      <div class="panel-heading">
        Trabajadores
      </div>
      <div class="panel-body">
            <div id="datatable">
              <table id="categoria" class="display" cellpadding="0" cellspacing="0" border="0" class="table table-condensed">
                <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <!--<th>Ciudad</th>
                  <th>Direccion</th>-->
                  <th>Nacionalidad</th>
                  <th>Categoria</th>
                  <th>Fecha de ingreso</th>
                  <th>Estado</th>
                  <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <% @trabajadores.each do |trabajador| %>
                    <tr>
                      <td><%= trabajador.nombre %></td>
                      <td><%= trabajador.apellido %></td>
                      <!--<td><%= trabajador.ciudad %></td>
                      <td><%= trabajador.direccion %></td>-->
                      <td><%= trabajador.nacionalidad.nombre %></td>
                      <td><%= trabajador.categoria.nombre %></td>
                      <td><%= trabajador.fecha_de_ingreso.strftime("%d/%m/%Y") %></td>
                      <td><%= trabajador.estado %></td>
                      <td><%= link_to '<i class="fa fa-eye"></i>'.html_safe, trabajador, class: 'btn btn-success btn-circle'%>
                        <% if can? :update, @trabajador %>
                            <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_trabajador_path(trabajador), class: 'btn btn-warning btn-circle'%>
                        <% end %>
                        <% if can? :destroy, @trabajador %>
                            <%= link_to '<i class="fa fa-eraser"></i>'.html_safe, trabajador, method: :delete, data: { confirm: 'Está seguro?' }, class: 'btn btn-danger btn-circle' %>
                        <% end %>
                      </td>
                    </tr>
                <% end %>
                </tbody>
              </table>

            </div>
      </div>
    </div>
  </div>
</div>

<head><script>
    $('#categoria').DataTable({
        "language": {
            "sProcessing":    "Procesando...",
            "sLengthMenu":    "Mostrar _MENU_ registros",
            "sZeroRecords":   "No se encontraron resultados",
            "sEmptyTable":    "Ningún dato disponible en esta tabla",
            "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix":   "",
            "sSearch":        "Buscar:",
            "sUrl":           "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst":    "Primero",
                "sLast":    "Último",
                "sNext":    "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }
    });
</script></head>