<% if can? :create, @trabajador %>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Nuevo Trabajador</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
  <%= render 'form' %>
<% end %>
<%= render 'trabajadores' %>