<!--<p id="notice"><%= notice %></p>-->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Trabajador</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<%= form_for(@trabajador) do |f| %>
    <% if @trabajador.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@trabajador.errors.count, "error") %> prohibited this trabajador from being saved:</h2>

          <ul>
            <% @trabajador.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <form class="form-horizontal" role="form">
      <div class="panel panel-default">
        <br>  <div class="form-group">
        <label for="ejemplo_email_3" class="col-md-1 control-label">Nombre: </label>
        <div class="col-lg-3">
          <%= @trabajador.nombre %>
        </div>
        <label for="ejemplo_email_3" class="col-md-1 control-label">Ciudad: </label>
        <div class="col-md-3">
          <%= @trabajador.ciudad %>
        </div>
        <label for="ejemplo_email_3" class="col-md-1 control-label">Dirección</label>
        <div class="col-md-3">
          <%= @trabajador.direccion %>
        </div>
      </div>
        <br>  <div class="form-group">
        <label for="ejemplo_email_3" class="col-md-1 control-label">Nacionalidad: </label>
        <div class="col-md-3">
          <% @nacionalidad = Nacionalidad.find(@trabajador.nacionalidad_id) %>
          <%= @nacionalidad.nombre %>
        </div>

        <div class="col-md-4">
          <label for="ejemplo_email_3" class=" control-label">Documento de Identidad: </label>
          <%= @trabajador.documento_de_identidad %>
        </div>
        <label for="ejemplo_email_3" class="col-md-1 control-label">Email: </label>
        <div class="col-md-3">
          <%= @trabajador.email %>
        </div>
      </div>
        <br>  <div class="form-group">
        <label for="ejemplo_email_3" class="col-md-1 control-label">Teléfono: </label>
        <div class="col-md-3">
          <%= @trabajador.numero_de_telefono %>
        </div>
        <label for="ejemplo_email_3" class="col-md-1 control-label">Categoría: </label>
        <div class="col-md-3">
          <% @categoria = Categoria.find(@trabajador.categoria_id) %>
          <%= @categoria.nombre %>
        </div>
        <label for="ejemplo_email_3" class="col-md-1 control-label">Estado: </label>
        <div class="col-md-3">
          <%= @trabajador.estado %>
        </div>

      </div>
        <br>  <div class="form-group">

        <div class="col-md-4">
          <label for="ejemplo_email_3" class="control-label">Fecha de Ingreso: </label>
          <%= @trabajador.fecha_de_ingreso.strftime("%d/%m/%Y") %>
        </div>

      </div>
        <br>
      </div>
      <div class="form-group">
        <% if can? :update, @trabajador %>
            <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_trabajador_path(@trabajador), class: 'btn btn-warning btn-circle btn-lg'%>
        <% end %>
        <%= link_to '<i class="fa fa-reply"></i>'.html_safe, trabajadores_path, class: 'btn btn-success btn-circle btn-lg' %>

      </div>

<% end %>
</form>
<%= render 'trabajadores' %>
<!--%= render 'trabajadores' %>-->