<%= form_for(@liquidacion_detalle, :validate => true) do |f| %>
  <% if @liquidacion_detalle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@liquidacion_detalle.errors.count, "error") %> prohibited this liquidacion_detalle from being saved:</h2>

      <ul>
      <% @liquidacion_detalle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <form class="form-horizontal" role="form">

      <br>  <div class="form-group">
      <label for="ejemplo_email_3" class="col-md-2 control-label">Liquidación ID</label>
      <div class="col-md-10">
    <%= f.number_field :liquidacion_id %>
      </div>
  </div>
      <br>  <div class="form-group">
      <label for="ejemplo_email_3" class="col-md-2 control-label">Concepto ID</label>
      <div class="col-md-10">
    <%= f.number_field :concepto_id %>
      </div>
  </div>
      <br>  <div class="form-group">
      <label for="ejemplo_email_3" class="col-md-2 control-label">Cantidad</label>
      <div class="col-md-10">
    <%= f.text_field :cantidad %>
      </div>
  </div>
      <br>  <div class="form-group">
      <label for="ejemplo_email_3" class="col-md-2 control-label">Suma</label>
      <div class="col-md-10">
    <%= f.text_field :suma %>
      </div>
  </div>
      <br>  <div class="form-group">
      <label for="ejemplo_email_3" class="col-md-2 control-label">Descuento</label>
      <div class="col-md-10">
    <%= f.text_field :descuento %>
      </div>
  </div>
      <br> <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <% if @liquidacion_detalle.id.nil?%>
            <%= f.submit('Crear') %>
        <% else %>
            <%= f.submit('Actualizar') %>
            <%= link_to 'Cancelar', liquidaciones_path%>
        <% end %>
      </div>
    </div>
<% end %>
</form>