<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="pretty">
  <tr>
    <th><%= sortable "liquidacion_id","Liquidacion" %></th>
    <th><%= sortable "concepto_id","Concepto" %></th>
    <th><%= sortable "cantidad", "Cantidad" %></th>
  </tr>

  <% @liquidacion_detalles.each do |post| %>
      <tr>
        <td><%= post.liquidacion_id %></td>
        <td><%= post.concepto_id %></td>
        <td><%= post.cantidad %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_liquidacion_detalle_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>
<%= will_paginate @liquidacion_detalles %>