<h1>Listing liquidacion_detalles</h1>

<%= form_tag liquidacion_detalles_path, :method => 'get', :id => "liquidacion_detalles_search" do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :concepto_id => nil %>
    </p>
    <div id="liquidacion_detalles"><%= render 'liquidacion_detalles' %></div>
<% end %>

<br>

<%= link_to image_tag('up_arrow.gif'), new_liquidacion_detalle_path %>
