<p id="notice"><%= notice %></p>

<p>
  <strong>Liquidacion:</strong>
  <%= @liquidacion_detalle.liquidacion_id %>
</p>

<p>
  <strong>Concepto:</strong>
  <%= @liquidacion_detalle.concepto_id %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @liquidacion_detalle.cantidad %>
</p>

<p>
  <strong>Suma:</strong>
  <%= @liquidacion_detalle.suma %>
</p>

<p>
  <strong>Descuento:</strong>
  <%= @liquidacion_detalle.descuento %>
</p>

<%= link_to 'Edit', edit_liquidacion_detalle_path(@liquidacion_detalle) %> |
<%= link_to 'Back', liquidacion_detalles_path %>
