<%= simple_form_for(@asiento_contable) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :ejercicio_contable_id %>
    <%= f.input :concepto %>
    <%= f.input :fecha %>
    <%= f.input :numero %>
    <%= f.input :total_debe %>
    <%= f.input :total_haber %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
