<h1>Listing asientos_contables</h1>

<table>
  <thead>
    <tr>
      <th>Ejercicio contable</th>
      <th>Concepto</th>
      <th>Fecha</th>
      <th>Numero</th>
      <th>Total debe</th>
      <th>Total haber</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asientos_contables.each do |asiento_contable| %>
      <tr>
        <td><%= asiento_contable.ejercicio_contable_id %></td>
        <td><%= asiento_contable.concepto %></td>
        <td><%= asiento_contable.fecha %></td>
        <td><%= asiento_contable.numero %></td>
        <td><%= asiento_contable.total_debe %></td>
        <td><%= asiento_contable.total_haber %></td>
        <td><%= link_to 'Show', asiento_contable %></td>
        <td><%= link_to 'Edit', edit_asiento_contable_path(asiento_contable) %></td>
        <td><%= link_to 'Destroy', asiento_contable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asiento contable', new_asiento_contable_path %>
