<p id="notice"><%= notice %></p>

<p>
  <strong>Ejercicio contable:</strong>
  <%= @asiento_contable.ejercicio_contable_id %>
</p>

<p>
  <strong>Concepto:</strong>
  <%= @asiento_contable.concepto %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @asiento_contable.fecha %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @asiento_contable.numero %>
</p>

<p>
  <strong>Total debe:</strong>
  <%= @asiento_contable.total_debe %>
</p>

<p>
  <strong>Total haber:</strong>
  <%= @asiento_contable.total_haber %>
</p>

<%= link_to 'Edit', edit_asiento_contable_path(@asiento_contable) %> |
<%= link_to 'Back', asientos_contables_path %>
