<%= simple_form_for(@log_autitoria) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_name %>
    <%= f.input :role %>
    <%= f.input :action %>
    <%= f.input :table %>
    <%= f.input :registro %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
