<div class="row">
  <br>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
       Log de Auditoría
      </div>

      <table id="categoria" class="display col-md-12" cellpadding="0" cellspacing="0" border="0" class="table table-condensed">

      <thead>
    <tr>
      <th>Tiempo</th>
      <th>Usuario</th>
      <th>Rol</th>
      <th>Acción</th>
      <th>Tabla</th>
      <th>Registro</th>

      <th>Cambios</th>
    </tr>
  </thead>

  <tbody>
    <% @log_auditorias.each do |log_autitoria| %>
      <tr>
        <td><%= log_autitoria.tiempo.strftime("%m/%d/%Y %H:%M:%S") %></td>
        <td><%= log_autitoria.user_name %></td>
        <td><%= log_autitoria.role %></td>
        <td><%= log_autitoria.action %></td>
        <td><%= log_autitoria.table %></td>
        <td><%= log_autitoria.registro %></td>
        <td><%= log_autitoria.cambios.join(", ") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    </div>
  </div>
</div>
<head><script>
    $('#categoria').DataTable({
        "language": {
            "sProcessing":    "Procesando...",
            "sLengthMenu":    "Mostrar _MENU_ registros",
            "sZeroRecords":   "No se encontraron resultados",
            "sEmptyTable":    "Ningún dato disponible en esta tabla",
            "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix":   "",
            "sSearch":        "Buscar:",
            "sUrl":           "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst":    "Primero",
                "sLast":    "Último",
                "sNext":    "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }
    });

</script></head>
