<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @log_autitoria.user_name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @log_autitoria.role %>
</p>

<p>
  <strong>Action:</strong>
  <%= @log_autitoria.action %>
</p>

<p>
  <strong>Table:</strong>
  <%= @log_autitoria.table %>
</p>

<p>
  <strong>Registro:</strong>
  <%= @log_autitoria.registro %>
</p>

<%= link_to 'Edit', edit_log_autitoria_path(@log_autitoria) %> |
<%= link_to 'Back', log_auditorias_path %>
