<%= simple_form_for(@asiento_detalle) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :asiento_id %>
    <%= f.input :cuenta_id %>
    <%= f.input :debe %>
    <%= f.input :haber %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
