<h1>Listing asiento_detalles</h1>

<table>
  <thead>
    <tr>
      <th>Asiento</th>
      <th>Cuenta</th>
      <th>Debe</th>
      <th>Haber</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asiento_detalles.each do |asiento_detalle| %>
      <tr>
        <td><%= asiento_detalle.asiento_id %></td>
        <td><%= asiento_detalle.cuenta_id %></td>
        <td><%= asiento_detalle.debe %></td>
        <td><%= asiento_detalle.haber %></td>
        <td><%= link_to 'Show', asiento_detalle %></td>
        <td><%= link_to 'Edit', edit_asiento_detalle_path(asiento_detalle) %></td>
        <td><%= link_to 'Destroy', asiento_detalle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asiento detalle', new_asiento_detalle_path %>
