<p id="notice"><%= notice %></p>

<p>
  <strong>Asiento:</strong>
  <%= @asiento_detalle.asiento_id %>
</p>

<p>
  <strong>Cuenta:</strong>
  <%= @asiento_detalle.cuenta_id %>
</p>

<p>
  <strong>Debe:</strong>
  <%= @asiento_detalle.debe %>
</p>

<p>
  <strong>Haber:</strong>
  <%= @asiento_detalle.haber %>
</p>

<%= link_to 'Edit', edit_asiento_detalle_path(@asiento_detalle) %> |
<%= link_to 'Back', asiento_detalles_path %>
