<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= t('.Iniciar Sesión', :default => "Iniciar Sesión") %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
      <div class="form-group">
        <%= f.label "Correo electrónico" %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "Contraseña" %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="checkbox">
          <label>
            <%= f.check_box :remember_me %>
            <%= f.label "Recordarme" %>
          </label>
        </div>
        <% end %>
      <%= f.submit  t('.Iniciar Sesión', :default => "Iniciar Sesión"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
